/* Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable Declaration */
:root {
  --primary-text: #FBEEC1;
  --secondary-text: #DAAD86;
  --tertiary-text: #EDF5E1;

  --primary-color: #1e81b0;
  --secondary-color: #659DBD;
  --tertiary-color: #8D8741;
  --quaternary-color: #BC986A;

  --accent-color: #7fceb1;

  --border-color: #5D5C61;
}

/* Body Element */
body {
  font-family: 'League Spartan', sans-serif;
  height: 100vh;
}

/* General Elements */
.flex {
  display: flex;
  align-items: center;
  text-align: center;
}

.flex-col {
  flex-direction: column;
}

.spacing {
  margin: 1.25rem;
  padding: 0.5rem;
  line-height: 1.25em;
}

.top-margin {
  margin-top: 2em;
}

.unordered-list {
  list-style-type: none;
}

.lg-font {
  font-size: 1.5em;
}

.md-font {
  font-size: 1.125em;
}

/* Header Elements */
header {
  background-color: var(--primary-color);
  color: var(--primary-text);
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: var(--primary-text);
  padding: 5px 16px;
}

h2 a:hover {
  color: var(--tertiary-text);
}

a:visited {
  text-decoration: none;
  color: var(--primary-text);
}

h1 {
  color: var(--secondary-text);
  font-size: 2.5em;
}

/* Main Elements */
.main {
  flex-direction: column;
  justify-content: space-around;
}

.questions {
  width: 60%;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

/* Footer Elements */
.footer {
  background-color: var(--primary-color);
  color: var(--primary-text);
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer h4 {
  margin: 0.5em;
  padding: 0.5em;
}

/* Media Queries */
@media screen and (max-width: 1260px) {
  header {
    color: var(--primary-text);
    font-size: 0.75em;
  }
}

@media screen and (max-width: 740px) {
  header {
    color: var(--primary-text);
    font-size: 0.5em;
  }
}